
  
  /* Button.module.css */
.blackholeContainer {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button-image {
    display: block;
    width: 300px;
    height: 300px;
    transition: opacity 0.2s ease; /* 부드러운 전환 효과 */
  }
  
  .blackholeContainer:hover .button-image {
    opacity: 0; /* 기본 이미지를 투명하게 */
  }
  
  .button-hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .blackholeContainer:hover .button-hover-image {
    opacity: 1; /* 호버 이미지 표시 */
  }
  
  .blackhole-text {
    position: absolute;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    color: white;
    pointer-events: none;
    top: 50%; /* 텍스트를 블랙홀의 중간 부분으로 이동 */
    margin-top:150px;
    transform: translateY(-50%); /* 세로 중앙 정렬 */
  }
  